<Section class="container bg-stone-100 min-h-[100vh]">

    <div class="">

        <div class="flex justify-center items-center py-11">
            <h2 class="text-2xl font-[700] text-orange-400 uppercase text-center">Booking Section</h2>
        </div>



        <div class="p-[5%] bg-stone-300 rounded-2xl w-3/4 mx-auto">
            <div class="flex flex-col justify-between items-center md:flex-row md:justify-start ">
                <h2 class="title__heading">Enter your Data</h2>
            </div>

            <div>
                

                <form [formGroup]="bookingForm" (ngSubmit)="submitForm()" class="w-3/4 md:w-3/4 mx-auto mt-8">
                   
                    <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="CustomerName" type="text"  id="CustomerName" 
                        class="block py-2.5 px-0 w-full text-sm text-orange-900 bg-transparent border-0 border-b-2 border-stone-500 appearance-none
                         dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
                          focus:ring-0 focus:border-orange-600 peer" placeholder=" " required />


                        <label for="CustomerName" class="peer-focus:font-medium absolute text-lg text-orange-500
                         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
                          peer-focus:text-orange-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
                           peer-focus:-translate-y-6">Name</label>
                           @if (bookingForm.get('CustomerName')?.touched &&bookingForm.get('CustomerName')?.errors) {

                            <div
                                class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                              >
                                <svg
                                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="currentColor"
                                  viewBox="0 0 20 20"
                                >
                                  <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                                  />
                                </svg>
                      
                                <div>
                                  <span class="font-medium"
                                    >Ensure that these requirements are met:</span
                                  >
                                  <ul class="mt-1.5 list-disc list-inside">
                                    @if(bookingForm.get('Customername')?.getError('required')){
                                    <li>Name is Required</li>
                                    }
                                  </ul>
                                </div>
                            </div>

                           }
                    </div>


                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="CustomerCity" type="text"  id="CustomerCity" 
                        class="block py-2.5 px-0 w-full text-sm text-orange-900 bg-transparent border-0 border-b-2 border-stone-500 appearance-none
                         dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
                          focus:ring-0 focus:border-orange-600 peer" placeholder=" " required />


                        <label for="CustomerCity" class="peer-focus:font-medium absolute text-lg text-orange-500
                         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
                          peer-focus:text-orange-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
                           peer-focus:-translate-y-6">City</label>
                           @if (bookingForm.get('CustomerCity')?.touched && bookingForm.get('CustomerCity')?.errors) {
                             <div
                                class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                              >
                                <svg
                                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="currentColor"
                                  viewBox="0 0 20 20"
                                >
                                  <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                                  />
                                </svg>
                      
                                <div>
                                  <span class="font-medium"
                                    >Ensure that these requirements are met:</span
                                  >
                                  <ul class="mt-1.5 list-disc list-inside">
                                    @if(bookingForm.get('CustomerCity')?.getError('required')){
                                    <li>City is Required</li>
                                    }
                                  </ul>
                                </div>
                            </div>

                           }
                    </div>

                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="MobileNo" type="tel"  id="MobileNo" 
                        class="block py-2.5 px-0 w-full text-sm text-orange-900 bg-transparent border-0 border-b-2 border-stone-500 appearance-none
                         dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
                          focus:ring-0 focus:border-orange-600 peer" placeholder=" " required />


                        <label for="MobileNo" class="peer-focus:font-medium absolute text-lg text-orange-500
                         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
                          peer-focus:text-orange-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
                           peer-focus:-translate-y-6">Mobile Number</label>
                           @if (bookingForm.get('MobileNo')?.touched && bookingForm.get('MobileNo')?.errors) {
                             <div
                                class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                              >
                                <svg
                                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="currentColor"
                                  viewBox="0 0 20 20"
                                >
                                  <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                                  />
                                </svg>
                      
                                <div>
                                  <span class="font-medium"
                                    >Ensure that these requirements are met:</span
                                  >
                                  <ul class="mt-1.5 list-disc list-inside">
                                    @if(bookingForm.get('MobileNo')?.getError('required')){
                                    <li>Your Phone Number is Required</li>
                                    }
                                  </ul>
                                </div>
                            </div>
                           }
                    </div>


                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="Email" type="email"  id="Email" 
                        class="block py-2.5 px-0 w-full text-sm text-orange-900 bg-transparent border-0 border-b-2 border-stone-500 appearance-none
                         dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
                          focus:ring-0 focus:border-orange-600 peer" placeholder=" " required />


                        <label for="Email" class="peer-focus:font-medium absolute text-lg text-orange-500
                         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
                          peer-focus:text-orange-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
                           peer-focus:-translate-y-6">Email</label>
                    </div>

                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input  formControlName="CarId" type="number"  id="CarId" 
                        class="block py-2.5 px-0 w-full text-sm text-orange-900 bg-transparent border-0 border-b-2 border-stone-500 appearance-none
                         dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
                          focus:ring-0 focus:border-orange-600 peer" placeholder=" " required />


                        <label for="CarId" class="peer-focus:font-medium absolute text-lg text-orange-500
                         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
                          peer-focus:text-orange-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
                           peer-focus:-translate-y-6">enter this id {{carId}}</label>
                           @if (bookingForm.get('CarId')?.touched && bookingForm.get('CarId')?.errors) {
                             <div
                                class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
                                role="alert"
                              >
                                <svg
                                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="currentColor"
                                  viewBox="0 0 20 20"
                                >
                                  <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                                  />
                                </svg>
                      
                                <div>
                                  <span class="font-medium"
                                    >Ensure that these requirements are met:</span
                                  >
                                  <ul class="mt-1.5 list-disc list-inside">
                                    @if(bookingForm.get('CarId')?.getError('required')){
                                    <li>Car Id is Required</li>
                                    }
                                  </ul>
                                </div>
                            </div>
                           }
                    </div>


                    <div class="relative z-0 w-full mb-5 group">
                        <input  formControlName="BookingDate" type="date"  id="BookingDate" 
                        class="block py-2.5 px-0 w-full text-sm text-orange-900 bg-transparent border-0 border-b-2 border-stone-500 appearance-none
                         dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
                          focus:ring-0 focus:border-orange-600 peer" placeholder=" " required />


                        <label for="BookingDate" class="peer-focus:font-medium absolute text-lg text-orange-500
                         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
                          peer-focus:text-orange-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
                           peer-focus:-translate-y-6">Booking Date</label>
                    </div>

                    </div>


                    
                    <button type="submit" class="btn__main w-full md:w-1/5">Submit
                      @if(isSuccess){
                        <i class="fa-solid fa-spinner fa-spin"></i>
                      }
                    </button>

                    @if(isSuccess){
                      <div class="bg-green-400 w-full md:w-1/2 text-white text-xl px-3 py-1 mt-3 rounded-xl">
                        <h3>Your Booking is Success </h3>

                      </div>
                    }
                    @if(isBooked){
                      <div class="bg-red-400 w-full md:w-1/2 text-white text-xl px-3 py-1 mt-3 rounded-xl">
                        <h3>{{alreadyBooked}}</h3>

                      </div>
                    }

                </form>
  
            </div>
        </div>
    </div>
   
 </Section>