<Section class="container bg-stone-100 min-h-[100vh]">

    <div class="">

        <div class="flex justify-center items-center py-11">
            <h2 class="text-2xl font-[700] text-orange-400 uppercase text-center">Booking History</h2>
        </div>



        <div class="p-[5%] bg-stone-300 rounded-2xl w-3/4 mx-auto">
            <div class="flex flex-col justify-between items-center md:flex-row md:justify-start ">
                <h2 class="title__heading">Enter your Data</h2>
            </div>

            <div>
                

               
  
            </div>
        </div>
    </div>
   
 </Section>